/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	line-height: 1.5;
	font-weight: 400;
	--fluid-width: 90vw;
	--max-width: 1120px;
	--fixed-width: 600px;
	--borderRadius: 0.25rem;
	--letterSpacing: 1px;
	--transition: 0.3s ease-in-out all;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Colors */
	--purple: purple;
	--orange-light: #fdc565;
	--orange: #ffa200;
	--pink: pink;
	--pink-dark: #ff879b;

	/* box shadow*/
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	line-height: 1;
}
.container {
	width: var(--fluid-width);
	max-width: var(--max-width);
	margin: 0 auto;
}
.title {
	text-transform: capitalize;
	padding-top: 2rem;
	text-align: center;
}
p {
	margin: 0;
}

/* Links */

a {
	font-weight: 700;
	text-decoration: inherit;
	color: black;
}
a:hover {
	color: purple;
}

/* buttons */

.btn {
	cursor: pointer;
	background: var(--pink-dark);
	border: transparent;
	border-radius: var(--borderRadius);
	letter-spacing: var(--letterSpacing);
	padding: 0.375rem 0.75rem;
	box-shadow: var(--shadow-2);
	transition: var(--transition);
	text-transform: capitalize;
	display: inline-block;
}
.btn:hover {
	background: var(--pink-dark);
	box-shadow: var(--shadow-3);
}
.btn-hero {
	font-size: 1.25rem;
	padding: 0.5rem 1.25rem;
}
